[data-scope='qr-code'][data-part='root'] {
  width: fit-content;
}

[data-scope='qr-code'][data-part='frame'] {
  width: var(--qrcode-width);
  height: var(--qrcode-height);
  background-color: white;
}

[data-scope='qr-code'][data-part='pattern'] {
  fill: black;
}

[data-scope='qr-code'][data-part='overlay'] {
  width: 32px;
  height: 32px;
  outline: 1px solid white;
  background-color: white;

  & img {
    width: 100%;
    height: 100%;
  }
}
