.avatar-basic [data-part="root"]{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  position: relative;
  vertical-align: top;
  flex-shrink: 0;
  user-select: none;
  border-radius: 9999px;
  background: var(--demo-neutral-subtle);
  color: var(--demo-neutral-fg);
  font-size: 1rem;
  width: 3rem;
  height: 3rem;
}

.avatar-basic [data-part="image"] {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.avatar-basic [data-part="fallback"] {
  border-radius: inherit;
  line-height: 1;
  font-weight: 500;
  font-size: inherit;
}
