.avatar-event .stack {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.avatar-event output {
  display: flex;
  max-width: 32rem;
  flex-direction: column;
  gap: .5rem;
  border: 1px solid var(--sl-color-hairline);;
  border-radius: 0.375rem; /* 6px */
  padding: .5rem .625rem;
  margin-bottom: .5rem;
  font-family: monospace;
  max-height: 200px;
  overflow-y: auto;
  font-size: .725rem;
}

.avatar-event [data-part="root"]{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  position: relative;
  vertical-align: top;
  flex-shrink: 0;
  user-select: none;
  border-radius: 9999px;
  background: var(--demo-neutral-subtle);
  color: var(--demo-neutral-fg);
  font-size: 1rem;
  width: 3rem;
  height: 3rem;
}

.avatar-event [data-part="image"] {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.avatar-event [data-part="fallback"] {
  border-radius: inherit;
  line-height: 1;
  font-weight: 500;
  font-size: inherit;
}
